---
setup.dashboards.enabled: false
setup.template.enabled: false
setup.ilm.enabled: false
filebeat.registry.path: /registry

logging.level: error

filebeat.inputs:
  - type: log
    index: ecs-authelia-1.8.0
    pipeline: authelia-pipeline
    paths:
      - /logs/authelia/authelia.log

  - type: log
    index: ecs-bitwarden-1.8.0
    pipeline: bitwarden-pipeline
    paths:
    - /logs/bitwarden/bitwarden.log

  - type: log
    index: ecs-fail2ban-1.8.0
    pipeline: fail2ban-pipeline
    paths:
    - /logs/fail2ban/fail2ban.log

  - type: log
    index: ecs-traefik-1.8.0
    pipeline: traefik-pipeline
    paths:
    - /logs/traefik/access.log

  - type: udp
    index: ecs-router-1.8.0
    pipeline: router-pipeline
    host: "0.0.0.0:514"

{# output.console:
  pretty: true #}

output.elasticsearch:
  hosts:
    - http://elasticsearch:9200
  username: {{ vault_elastic_username }}
  password: {{ vault_elastic_password }}
