address=/{{ pihole_zone }}/{{ pihole_advertise_ip }}
address=/plex.direct/{{ pihole_advertise_ip }}
host-record=api2.branch.io,0.0.0.0,::,43200
host-record=aic.service.lgtvcommon.com,0.0.0.0,::,43200
