---
version: '3.8'

services:
  # logging handled in traefik and authelia
  # does not run as root
  {{ arr_service_name }}:
    image: linuxserver/{{ arr_service_name }}:${VERSION}
    container_name: {{ arr_service_name }}
    restart: unless-stopped
    init: true
    networks:
      traefik:
        aliases:
          - ${DOMAIN}
    expose:
      - {{ arr_expose_port }}
    environment:
      TZ: ${TIMEZONE}
      PUID: ${PUID}
      PGID: ${PGID}
    volumes:
      - ${DATA_PATH}:/config
      - ${DOWNLOADS_PATH}:/downloads
      - ${MEDIA_ROOT}:/media
    labels:
      traefik.enable: true
      traefik.http.routers.{{ arr_service_name }}.service: {{ arr_service_name }}
      traefik.http.routers.{{ arr_service_name }}.rule: Host(`${DOMAIN}`)
      traefik.http.routers.{{ arr_service_name }}.entrypoints: https
      traefik.http.routers.{{ arr_service_name }}.tls: true
      traefik.http.services.{{ arr_service_name }}.loadbalancer.server.port: {{ arr_expose_port }}
      traefik.http.routers.{{ arr_service_name }}.middlewares: mfa


networks:
  traefik:
    name: traefik
    external: true
