daemon=300
ssl=yes

use=web, web=dynamicdns.park-your-domain.com/getip

##
## cloudflare.com account-configuration
##
protocol=cloudflare
zone={{ vault_domain }}
ttl=1
login={{ vault_admin_email }}
password={{ vault_cloudflare_api_key }}
{{ vault_domain }}

##
## OpenDNS.com account-configuration
##
# protocol=dyndns2
# ssl=yes
# server=updates.opendns.com
# login={{ vault_opendns_username }}
# password='{{ vault_opendns_password }}'
# {{ vault_domain }}

