---
users:
  {{ vault_admin_username }}:
    displayname: "{{ vault_admin_username }}"
    password: "{{ vault_admin_password }}"
    email: {{ vault_admin_email }}
    groups:
      - admins
      - users
      - dev
